@tailwind base;
@tailwind components;
@tailwind utilities;

.greetingsText {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.month-container text.quarter-label{
    font-weight: 800;
    fill: #c1c4c8;
}
.month-container text.h4{
    font-weight: 800;
    fill: #c1c4c8;
}